body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #222;
    background: url(img/fondo_login.jpg);
    background-repeat: repeat;
    background-size: auto;
    opacity: 0.95;
    line-height: 1.6;
    height: 100vh;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.137);
    z-index: -1;
}

/*formulario*/
.formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

/*titulo del formulario*/
.formulario h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #c7894b;
}

.formulario form {
    padding: 0 40px;
    box-sizing: border-box;
}

/*usuario y contraseña*/
.formulario .usuario,
.formulario .contraseña,
.formulario .correo {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.usuario input,
.contraseña input,
.correo input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    outline: none;
    background: none;
}

/*linea animada al seleccionar usuario o contraseña*/
.usuario span::before,
.contraseña span::before,
.correo span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #c49b63;
    transition: .5s;
}

/*etiquetas usuario y contraseña*/
.usuario label,
.contraseña label,
.correo label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

/*animacion al seleccionar usuario o contraseña*/
.usuario input:focus~label,
.usuario input:valid~label,
.correo input:valid~label,
.correo input:focus~label,
.contraseña input:focus~label,
.contraseña input:valid~label {
    top: -5px;
    color: #c49b63;
    font-size: 12px;
}

.usuario input:focus~span::before,
.usuario input:valid~span::before,
.correo input:valid~span::before,
.correo input:focus~span::before,
.contraseña input:focus~span::before,
.contraseña input:valid~span::before {
    width: 100%;
}

/*boton registro*/
.formulario input[type="submit"] {
    display: block;
    width: 200px;
    height: 40px;
    margin: 20px auto;
    border: none;
    background: #c49b63;
    font-size: 18px;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
}

.formulario input[type="submit"]:hover {
    background: #a5794f;
}

.registro-texto {
    text-align: center;
    margin: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px;
    color: black;
}

.registro-texto a {
    color: blue;
    text-decoration: none;
}
.registro-texto a:hover{
    text-decoration: underline;
}
/* Responsive - Mobile */
@media (max-width: 768px) {
    .formulario {
        width: 90%;
    }

    .formulario h1 {
        font-size: 30px;
    }

    .usuario input,
    .contraseña input {
        font-size: 14px;
        height: 35px;
    }
}